#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-card {
  background-color: rgba(128, 128, 128, 0.374);
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
