#root {
  margin: auto;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.welcome-block h1,
h3 {
  margin: 0;
  color: rgba(35, 35, 35, 0.888);
}

.welcome-block h3 {
  margin-bottom: 1em;
}

.uploaded-ticker-box {
  padding: 1em;
  text-align: center;
  background-color: rgba(67, 67, 67, 0.041);
  margin: 0.25em;
}

.base-container {
  background: linear-gradient(
    90deg,
    rgba(191, 191, 191, 1) 0%,
    rgba(59, 59, 59, 0.503) 53%,
    rgba(191, 191, 191, 1) 100%
  );
  padding: 5em;
  border-radius: 1em;
  opacity: 90%;
  border-style: double;
  height: 1vh;
  width: 50vw;
  height: min-content;
}

.loading-page {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.analyzed-stock h1 {
  font-weight: bolder;
}

.analyzed-stock {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1em;
  background-color: gray;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1em;
  color: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(191, 191, 191, 1) 0%,
    rgba(130, 130, 130, 0.503) 53%,
    rgb(151, 151, 151) 100%
  );
  border-width: 0.1em;
}

.stepper-panel {
  padding: 1em;
  border-radius: 1em;
  opacity: 70%;
  background-color: rgb(232, 230, 230);
}

.stepper-accordion {
  padding: 1.5em;
  background-color: rgba(67, 67, 67, 0.041);
}

.p-fileupload-buttonbar button {
  margin: 0.2em;
}

.file-upload-div {
  background-color: rgba(67, 67, 67, 0.041);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.info-card h1,
h2,
h3 {
  margin: 0.25em;
}

.info-card {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30vw;
  padding: 1em;
  text-align: center;
  border-radius: 1em;
}
