#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.welcome-block h1,
h3 {
  margin: 0;
  color: rgba(0, 0, 0, 0.405);
}

.welcome-block h3 {
  margin-bottom: 1em;
}

.base-container {
  background: radial-gradient(
    circle,
    rgb(93, 133, 255) 0%,
    rgb(255, 255, 255) 100%
  );
  padding: 5em;
  border-radius: 1em;
  opacity: 90%;
  border-style: double;
}

.stepper-panel {
  padding: 1em;
  border-radius: 1em;
  opacity: 70%;
  background-color: rgb(232, 230, 230);
}

.stepper-accordion {
  padding: 1.5em;
  background-color: rgba(67, 67, 67, 0.041);
}

.p-fileupload-buttonbar button {
  margin: 0.2em;
}

.file-upload-div {
  background-color: rgba(67, 67, 67, 0.041);
}
