#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.welcome-block h1,
h3 {
  margin: 0;
  color: rgba(35, 35, 35, 0.888);
}

.welcome-block h3 {
  margin-bottom: 1em;
}

.uploaded-ticker-box {
  padding: 1em;
  text-align: center;
  background-color: rgba(67, 67, 67, 0.041);
  margin: 0.25em;
}

.base-container {
  background: linear-gradient(
    90deg,
    rgba(191, 191, 191, 1) 0%,
    rgba(59, 59, 59, 0.503) 53%,
    rgba(191, 191, 191, 1) 100%
  );
  padding: 5em;
  border-radius: 1em;
  opacity: 90%;
  border-style: double;
  width: 50vw;
  height: min-content;
}

.loading-page {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.analyzed-stock {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
}

.stepper-panel {
  padding: 1em;
  border-radius: 1em;
  opacity: 70%;
  background-color: rgb(232, 230, 230);
}

.stepper-accordion {
  padding: 1.5em;
  background-color: rgba(67, 67, 67, 0.041);
}

.p-fileupload-buttonbar button {
  margin: 0.2em;
}

.file-upload-div {
  background-color: rgba(67, 67, 67, 0.041);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
